<!-- app/views/admin/candidates/new.html.erb -->
<h1>候補者を追加</h1>

<div class="card shadow p-4">
  <%= render "form" %>
</div>

<div class="mt-3">
  <%= link_to "候補者一覧に戻る", admin_election_candidates_path(@election), class: "btn btn-secondary mt-3" %>
</div>
